fastapi==0.110.0
uvicorn==0.28.0
sqlalchemy==2.0.28
psycopg2-binary==2.9.9
pgvector==0.2.5
fastembed==0.2.5
langgraph==0.0.30
groq==0.4.2
python-dotenv==1.0.1
pydantic>=2.7.2
mcp==1.1.2
langchain-groq==0.1.2
langfuse==2.26.0
